
<ul class="blog-list">
  <%
  // with using the metadata features in harp,
  // we can use the data like this, to control the blog list.
  var posts = public.posts._data;
      for(var post in posts){ %>
  <li>
    <a href="/posts/<%=post%>"><%=posts[post].title%></a>
    <p><%=posts[post].excerpt%></p>
  </li>
  <% } %>
</ul>
