<div>
  <h2>What is MakeCoders?</h2>

  <p>
    MakeCoders is a code learning aggregator. We find and categorize great learning resources.
    There is no better time to start out programming. There are incredible resource all over the Internet. Some
    are paid and many are free. As a begginner it can be hard to know where to start. MakeCoders finds and organizes
    the best resources so you don't have to.
  </p>

  <h2>Inspiration?</h2>
  <p>
    Recently I have had a number of people ask me how I got started with coding. The next question is usually "How
    can I get started?" I love what I do and was lucky enough early on to meet the right people to show me the way.
    It's pretty different now that when I got started. Online learning has exploded. I thought rather than write up
    a few emails, I'd put together a website to share with everyone all at once.
  </p>

  <h2>The Beginning</h2>
  <p>
    To get started I'm putting together a simple blog with quick overviews of learning resources I find. I'll try to
    update it regularly. Once I have enough content, I'll take anohther pass at the format.
  </p>
</div>